body, p, div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background-color: #c9c9c9;
    border-radius: 50px;
}

body {
    background-color:rgba(0,0,0,0.9);
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-clip: content-box;
    overflow: hidden;
}

#IDdivSmallerBody {
    color: #ffffff;
    font-family: 'Courier New', monospace;
    text-align: center;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5vw 0 5vw;
    overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1DB954;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #34df70;
}


/********************************************/
#IDheadlines {
    margin-top: 20px;
}

#IDheadlineAndUser {
    display: flex;
    flex-direction: column;
    float: left;
    align-items: flex-start;
}

#IDheadline {
    font-weight: bold;
    color: #fff;
    font-size: 2.3rem;
    margin: 0;
    margin: -13px 15px 0 0;
}

#IDio {
    font-weight: bold;
    color: #aaaaaa;
    font-size: 0.8rem;
}

#IDusernameAndImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#IDspotifyUserImage {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 10px 0 0;
}

#IDspotifyUserName {
    width: 8.5rem;
    color: #ffffff;
    font-size: 1rem;
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

#IDuserNameArrow {
    color: #ffffff;
    font-size: 1rem;
    margin-right: 10px;
}

@media (hover: hover) {
    #IDspotifyUser:hover #IDuserNameArrow {
        opacity: 0.5;
    }
    #IDspotifyUser:hover #IDspotifyUserName {
        font-weight: bold;
    }
    #IDheadline:hover {
        letter-spacing: 10px;
        transition: 0.2s ease-in-out;
    }
}

#IDtopHR {
    background-color: #1DB954;
    filter: drop-shadow(0 0 5px #1DB954);
    animation: onloadHR 3s;
}

#IDbottomHR {
    background-color: #1DB954;
    filter: drop-shadow(0 0 5px #1DB954);
    animation: onloadHR 3s;
}

#IDmiddleHR1 {
    animation: onloadHR 3s;
}

#IDmiddleHR2 {
    animation: onloadHR 3s;
}

.classHRsyncOn {
    background-color: #62dbfb !important;
    filter: drop-shadow(0 0 5px #62dbfb) !important;
}

.classHRsyncOnWithRepeat {
    background-color: #f362fb !important;
    filter: drop-shadow(0 0 5px #f362fb) !important;
}

@keyframes onloadHR{
    0% {
        max-width: 0;
    }
    100% {
        max-width: 100%; 
    }
}

#IDsettingsButton {
    margin: 0;
    padding: 0;
    float: right;
    margin: -10px 0 0 15px;
    cursor: pointer;
    width: 40px;
    transition: 0.15s ease-in-out;
}

#IDdivAlbumAndTrackAndTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 0 2vh 0;
}

#IDdivTrackAndTime {
    margin-left: 2vw;
    text-align: left;
    height: 175px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

#IDdivTrackAndArtist {
    margin-top: 0px;
    line-height: 1.8rem;
}

#IDtrackName {
    font-weight: bold;
    font-size: 2rem;
    width: 400px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#IDartistName {
    font-size: 1.3rem;
    width: 400px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#IDdivCurrentTime {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0.3em;
}

#IDAlbum {
    width: auto;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    opacity: 1;
}


/* Music Control */
#IDmusicControl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#IDbackButton {
    width: 40px;
    cursor: pointer;
    opacity: 1;
    transition: 0.15s ease-in-out;
}

#IDshuffleButton {
    width: 35px;
    height: 45px;
    cursor: pointer;
    opacity: 1;
    transition: 0.15s ease-in-out;
}

#IDrepeatSpotifyButton {
    width: 45px;
    height: 45px;
    cursor: pointer;
    opacity: 1;
    transition: 0.15s ease-in-out;
}

#IDplayAndPauseButton {
    width: 50px;
    cursor: pointer;
    scale: 1.0;
    transition: 0.15s ease-in-out;
}

#IDforwardButton {
    width: 40px;
    cursor: pointer;
    opacity: 1;
    transition: 0.15s ease-in-out;
}

#IDtimeLineEmpty {
    background-color: rgb(181, 181, 181, 0.3);
    height: 6px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    visibility: visible;
    display: block;
    margin-top: 3%;
}

#IDtimeLineFilled {
    background-color: #1DB954;
    filter: drop-shadow(0 0 10px #1DB954);
    opacity: 1;
    height: 6px;
    border-radius: 10px;
    width: 0%;
    visibility: visible;
    display: block;
    margin-top: 3%;
}

#IDtimeLineEmpty2 {
    background-color: rgb(181, 181, 181, 0.3);
    height: 6px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    visibility: hidden;
    display: none;
    margin-top: 3%;
}

#IDtimeLineFilled2 {
    background-color: #34df70;
    filter: drop-shadow(0 0 10px #34df70);
    opacity: 1;
    height: 6px;
    border-radius: 10px;
    width: 0%;
    visibility: hidden;
    display: none;
    margin-top: 3%;
}


/********************************************/
#IDdivAllChordsAndInfos {
    margin: 0px 15px 15px 15px;
}

#IDguitarCapo {
    filter: drop-shadow(0 0 8px #1DB954) !important;
}

#IDdivTuningAndCapo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    align-content: center;
}

#IDverticalDelimeter1 {
    font-weight: bold;
}

#IDdivMainChordsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll; 
    height: 40vh;
    white-space: pre-line; 
    padding: 20px; 
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.5rem;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

.chord_span {
    font-weight: bold;
}

#IDcapoMinusButton {
    font-weight: bold;
    cursor: pointer;
}

#IDcapoPlusButton {
    font-weight: bold;
    cursor: pointer;
}

#IDflatOrSharp {
    cursor: pointer;
}

/* Turn these on for debugging to see the 
main algorithm via colors in the lyrics */
/*
.ONE_LINE_OFF_IS_ONE_UNOFF {
    color: #1DB954;
}

.ONE_LINE_OFF_IS_MORE_UNOFF {
    color: red !important;
}

.MORE_LINE_OFF_IS_ONE_UNOFF {
    color: rgb(0, 115, 255) !important;
}

.LERP_LINE {
    color:rgb(255, 56, 255);
}
*/

.ONE_LINE_OFF_IS_ONE_UNOFF {
    cursor: pointer;
}

.ONE_LINE_OFF_IS_MORE_UNOFF {
    cursor: pointer;
}

.MORE_LINE_OFF_IS_ONE_UNOFF {
    cursor: pointer;
}

.LERP_LINE {
    cursor: pointer;
}

#IDdivLoginAndSyncAndSourceCode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

#IDloginText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    margin: 0;
}

#IDlogoutText {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    margin: 0;
    font-weight: lighter;
}

@media (hover: hover) {
    #IDloginText:hover {
        font-weight: bold;
        text-shadow: 0 0 15px #1DB954;
        color: #1DB954;
    }
    
    #IDlogoutText:hover {
        font-weight: bold;
        text-shadow: 0 0 15px #f41818;
        color: #f41818;
    }
}

#IDsyncButton {
    width: 35px;
    transition: transform 0.15s ease-in-out; 
    cursor: pointer;
    transform: rotate(0deg);
    margin: 2px 70px 0 0;
}

#IDsourceCodeLink img {
    width: 25px;
    margin: 2px 0 0 0;
    transition: transform 0.15s ease-in-out; 
}

@media (hover: hover) {
    #IDsourceCodeLink img:hover {
        transform: rotate(15deg) scale(0.8);
    }
}

#IDdivSyncButtonAndTime {
    display: flex;
    flex-direction: row;
}

#IDdivRepeatButtonAndCurrentTime {
    display: flex;
    flex-direction: row;
}

#IDsyncSkipToggle {
    margin: 0;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 16px;
    display: inline-block;
    position: relative;
    border: solid 1px #ffffff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: background-color ease 0.3s;
}

#IDsyncSkipToggle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 16px;
    background-image: url('/static/img/music_control/forward_button.png');
    background-size: cover;
    left: 0px;
    top: -3px;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
  
#IDsyncSkipToggle:checked {
    border: solid 1px #62dbfb;
    border-radius: 50px;
    filter: drop-shadow(0 0 10px #62dbfb);

}
  
#IDsyncSkipToggle:checked:before {
    left: 19px;
    background-image: url('/static/img/music_control/forward_button_blue.png');
    background-size: cover;
}

@media only screen and (max-width: 1200px){
    #IDsyncButton {
        width: 40px;
    }
    #IDsourceCodeLink img {
        width: 35px;
    }
    #IDbackButton {
        width: 50px;
    }
    #IDshuffleButton {
        width: 40px;
        height: 50px;
    }
    #IDrepeatSpotifyButton {
        width: 50px;
        height: 50px;
    }
    #IDplayAndPauseButton {
        width: 60px;
    }
    #IDforwardButton {
        width: 50px;
    }
    #IDdivAlbumAndTrackAndTime {
        margin: 2vh 0 2vh 0;
    }
}

#IDtuningIcon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    display: block;
    transition: 0.15s ease-in-out;
}

#IDcapoIcon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#IDkeyIcon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

#IDsyncAvailableIMG {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    filter: drop-shadow(0 0 8px #62dbfb);
}

#IDdivCheckAndTitle {
    display: flex;
    flex-direction: row;
}

#IDdivMainChords {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#IDsettingsOverlay {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100svw;
    height: 100svh;
    background-color: rgba(0,0,0,0.95);
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-clip: content-box;
    z-index: 100;
    display: visible;
    transition: 0.75s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

#IDsettingsOverlayContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#IDcloseSettings {
    margin-bottom: 10vh;
    margin-top: -12vh;
    cursor: pointer;
    width: 40px;
    transition: 0.15s ease-in-out;
}

.individualSettings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settingsTexts {
    color: #ffffff;
    font-size: 1.3rem;
}

.customSettingsCheckbox {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border-radius: 4px;
    text-align: center;
}

@media (hover: hover) {
    #IDsettingsButton:hover {
        width: 35px;
        margin: -8px 0 0 15px;
        transform: rotate(90deg);
    }
    #IDcloseSettings:hover {
        transform: rotate(90deg);
    }
    .individualSettings:hover {
        letter-spacing: 0.5px;
        transition: 0.2s ease-in-out;
    }
    .individualSettings:hover .customSettingsCheckbox{
        rotate: 20deg;
        transition: 0.2s ease-in-out;
    }
}

#IDcapoSettingsCheckbox {
    background-color: rgb(174, 174, 174);
}

#IDflatSharpSettingsCheckbox {
    background-color: rgb(29, 185, 84);
}

#IDalignSettingsCheckbox {
    background-color: rgb(29, 185, 84);
    font-weight: bold;
    text-align: center;
    color: black;
}

#IDalignSettingsCheckbox2 {
    background-color: rgb(174, 174, 174);
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    color: black;
}

/* Repeat Section Toogle */
#IDrepeatSectionToggle {
    margin: 0;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 16px;
    display: inline-block;
    position: relative;
    border: solid 1px #ffffff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    transition: background-color ease 0.3s;
}

#IDrepeatSectionToggle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 16px;
    background-image: url('/static/img/repeat_section_button_1.png');
    background-size: cover;
    left: 0px;
    top: -3px;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
  
#IDrepeatSectionToggle:checked {
    border: solid 1px #f362fb;
    border-radius: 50px;
    filter: drop-shadow(0 0 10px #f362fb);

}
  
#IDrepeatSectionToggle:checked:before {
    left: 19px;
    background-image: url('/static/img/repeat_section_button_2.png');
    background-size: cover;
}

#IDcredit {
    color: #ffffff;
    font-size: 0.8rem;
    margin: 0;
    margin-top: 8vh;
    opacity: 0.75;
    letter-spacing: 5px;
}

#IDcredit2 {
    color: #ffffff;
    font-size: 0.6rem;
    margin: 0;
    margin-top: 10px;
    opacity: 0.75;
    letter-spacing: 1px;
}

a {
    color: #ffffff;
    text-decoration: none;
}